/* body {
  height: 3000px;
} */

.navbar-brand {
  font-family: 'Sunflower', sans-serif;
  font-weight: bold;
}


header {
  display: flex;
  height: 350px;
  width: 100%;
  font-family: 'Black Han Sans', sans-serif;
  background-image: url(images/header.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

header>h2 {
  width: 230px;
  text-align : center;
  position: relative;
  top: 50px;
}
footer{
  height: 50px
}
footer>p {
  position: absolute;
}
footer>#up {
  position: absolute;
  right: 10px;
}