<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {% block title %}
  {% endblock title %} </title>
</head>
<body>
  <a href={% url 'accounts:index' %}>홈</a>
  <a href={% url 'movies:index' %}>영화 홈</a>
  {% if user.is_authenticated %}
  <a href={% url 'accounts:logout' %}>로그아웃</a>
  {% else %}
  <a href={% url 'accounts:login' %}>로그인</a>
  {% endif %}
  <hr>

  {% block body %}
  {% endblock body %}
</body>
</html>