{% extends 'base.html' %}
{% block title %}Detail of {{ movie.tilte }}{% endblock title %}

{% block content %}
<h2>{{ movie.title }}</h2>
<hr>
<div>
<p>영화명 : {{ movie.title }}</p>
<p>영화명(영문) : {{ movie.title_en }}</p>
<p>누적 관객수 : {{ movie.audience }}</p>
<p>개봉일 : {{ movie.open_date }}</p>
<p>장르 : {{ movie.genre }}</p>
<p>관람등급 : {{ movie.watch_grade }}</p>
<p>평점 : {{ movie.score }}</p>
<p>포스터이미지 URL : {{ movie.poster_url }}</p>
<p>영화소개 : {{ movie.description }}</p>

</div>

<a href="/movies/"><button> 영화 목록 </button></a>
<a href="/movies/{{ movie.id }}/edit"><button> 영화 정보 수정 </button></a>
<a href="/movies/{{ movie.id }}/delete"><button> 영화 삭제 </button></a>
{% endblock content %}
